#h2_events {
    font-size: 4vh;
    padding: 10px;
    background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}