#linkLogin {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#linkLogin:hover {
    background: linear-gradient(90deg, #FF5733 0%, #FFD133 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#linkTerms {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#linkTerms:hover {
    background: linear-gradient(90deg, #FF5733 0%, #FFD133 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}