#h2AboutAs {
    font-size: 6vh;
    padding: 10px;
    background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

#imgAboutUs {
    width: 25vh;
    margin: 2vh;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

#imgAboutUs:hover {
    transform: scale(1.05);
  }

#nameAboutUs:hover {
    background: linear-gradient(90deg, #FF5733 0%, #FFD133 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
